main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: black;
  gap: 10px;
}

.carre1 {
  width: 30px;
  height: 30px;
  background-color: brown;
}
